#{extends 'main.html' /}
#{set title:'Donation' /}
#{include 'nav.html' /}

<section class="ui segment">
		<h4 class="ui inverted header">Donations</h4>
		 <table class="ui table segment">
        <thead>
          <tr>
            <th>Donors</th>
            <th>Amount($)</th>
            <th>Method donated</th>
          </tr>
        </thead>
        <tbody>
        #{list items:donations, as:'donation'}
          <tr>
            <td>${donation.from.firstName}&nbsp${donation.from.lastName}</td>
            <td>${donation.amountDonated}</td>
            <td>${donation.methodDonated}</td>
          </tr>
        #{/list}
        </tbody>
      </table>
	</section>