#{extends 'main.html' /} #{set title:'Login to Spacebook' /}

#{include 'nav.html' /}

<div class="ui two column middle aligned relaxed grid basic segment">
	<div class="column">
		<div class="ui form segment">
			<form action="/authenticate" method="POST">
				<div class="field">
					<label> Email: </label> <input type="text" name="email">
				</div>
				<div class="field">
					<label> Password: </label> <input type="password" name="password">
				</div>
				<button class="ui inverted submit button">Login</button>
			</form>
		</div>
	</div>
	<div class="ui vertical divider">
    Or
  </div>
  <div class="center aligned column">
    <a class="huge inverted ui labeled icon button" href="/signup"><i class="signup icon"></i> Sign Up</a>
  </div>
</div>