#{extends 'main.html' /}
#{set title:'Signup for Spacebook' /}

#{include 'nav.html' /}

<div class="ui two column middle aligned relaxed grid basic segment">
  <div class="column">
  <section class="ui form segment">
  <form action="/register" method="POST">
<div class="two fields">
      <div class="field">
        <label>First Name</label>
        <input placeholder="First Name" type="text" name="firstName">
      </div>
      <div class="field">
        <label>Last Name</label>
        <input placeholder="Last Name" type="text" name="lastName">
      </div>
    </div> 
    <div class="field">
      <label>Email</label>
      <input placeholder="Email" type="text" name="email">
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password" name="password">
    </div>
    <div class="ui checkbox">
          <input id="conditions" type="checkbox">
          <label for="conditions">I agree to the terms and conditions</label>
    </div>
    <div class="ui checkbox">
    <input id = "usaCitizen" type="checkbox" name="usaCitizen"> 
    <label for="usaCitizen">Tick to confirm you are a citizen of the USA</label>
    </div>
    <div>
    <button class="ui inverted submit button">Submit</button>
    </div>
  </form>
</section>  
</div>
</div>